body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/volunteer/images/emailverify.jpg'); /* Background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.forgot-password-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: relative;
}

.forgot-password-container h2 {
    text-align: center;
    margin-bottom: 24px;
}

.forgot-password-container input[type="email"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.forgot-password-container button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.forgot-password-container button[type="submit"]:hover {
    background-color: #45a049;
}

.forgot-password-container .links {
    text-align: center;
    margin-top: 20px;
}

.forgot-password-container .links a {
    color: #4CAF50;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.forgot-password-container .links a:hover {
    text-decoration: underline;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.back-button i {
    color: #333;
}

.back-button:hover i {
    color: #000;
}
