body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/messagevolunteer.jpg') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white background */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 85vh; /* Adjust height as needed */
}

.header {
    background-color: #007BFF;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .back-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.header .back-button:hover {
    background-color: #0056b3;
}

.header .title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em;
    margin-right: 30px; /* Adjust to balance with the back button width */
}

.messages {
    padding: 20px;
    flex: 2; /* Increased flex value for more space */
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.message {
    background-color: #f9f9f9;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.message .timestamp {
    font-size: 0.8em;
    color: #666;
    text-align: right;
}

.message-form {
    padding: 20px;
    border-top: 1px solid #ddd;
}

.message-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.send-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 1em;
}

.send-button:hover {
    background-color: #218838;
}
